/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --skyblue: skyblue;
  --lightSkyBlue: lightskyblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fdfdfdde;
  width: 100%;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 2rem 4rem;
  backdrop-filter: blur(20px);
}
.logo {
  font-size: 2rem;
  font-weight: 800;
  font-family: sans-serif;
}
.nav-links a {
  margin: 0 1.5rem;
  font-size: 2rem;
  font-family: sans-serif;
  text-decoration: none;
  color: #0a2540;
  font-weight: 500;
}
.nav-links a:hover {
  border-bottom: 5px solid black;
}
.login-btn {
  background-color: var(--lightSkyBlue);
  color: white;
  padding: 1.2rem 2.4rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-btn:hover {
  background-color: blue;
}
.Hero {
  background-color: #feff9f;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 4rem;

  margin-top: 0;
}
.Hero img {
  background: cover center no-repeat;
  margin-top: 8rem;
  border-radius: 1rem;
  width: 600px;
  height: 600px;
}
.Hero-text {
  margin-top: 8rem;
  max-width: 500px;
}
.colored-text {
  color: var(--lightSkyBlue);
  font-weight: bold;
}
.Hero-text h1 {
  font-size: 6rem;
  font-family: sans-serif;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 2.4rem;
}
.btn-primary {
  background-color: var(--lightSkyBlue);
  color: white;
  padding: 1.2rem 2.4rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: blue;
}
.Hero-links {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.Hero-links a {
  text-decoration: none;
  font-weight: 600;
  margin-right: 2rem;
  color: #0a2540;
}
/* about section */
.About-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  border: 1px solid white;
  margin: 8rem;
  padding: 3rem;
  border-radius: 10px;
}
.about-title {
  font-family: sans-serif;
  font-size: 3.6rem;
  letter-spacing: -1px;
  font-weight: bold;
  color: #0a2540;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.about-text p {
  font-family: sans-serif;
  padding: 2rem;
  /* text-align: center; */
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  font-weight: 500;
}
#about-image {
  margin-top: 0px;
  width: 500px;
  height: 400px;
}
/* end about section */

/* start feature section */
.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 80%;
}
.feature-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
  margin: 1rem;
  grid-column: 1 / span 2;
}

.feature-card {
  align-items: center;
  padding: 3rem;
  background-color: var(--lightSkyBlue);
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.feature-card h3 {
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
}
.feature-card p {
  font-size: 1.8rem;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: black;
}
#feature-img {
  width: 400px;
  border: 1px solid white;
  border-radius: 10px;
}
/* end feature section */
/* call to action */
.call-action {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.call-items {
  width: 70%;
  padding: 9rem;
  border-radius: 30px;
  background-color: var(--lightSkyBlue);
}
.call-items h2 {
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  padding: 2rem;
  margin-bottom: 1rem;
}
#btn-join {
  margin-left: 26.5%;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  font-family: sans-serif;
  text-align: center;
  color: white;
  padding: 1.4rem 3.4rem;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(117, 191, 221);
  transition: background-color 0.3s ease;
}
#btn-join:hover {
  background-color: blue;
}
.footer {
  padding: 1rem;
  background-color: rgb(117, 191, 221);
}
.footer p {
  text-align: center;
  font-size: 2rem;
  font-family: sans-serif;
  color: white;
  font-weight: 400;
}

/* end call to action */
